
*{ margin: 0; padding: 0;}

section {position: relative;width: 100%;height:30vh; background: #ff9966; background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);background: linear-gradient(to left, #ff5e62, #ff9966); overflow :hidden;}

section .wave{ position: absolute; height:100px;left:0;bottom:0;width:100%;background-image:url(../../assets/images/wave.png); background-size: 1000px 100px;}

section .wave.wave1{ animation: animate 17s linear infinite;z-index:1000; opacity:0.8;animation-delay:0s; bottom:5px;}

section .wave.wave2{animation: animate2 4s linear infinite;z-index:997;opacity:0.5;animation-delay:0;bottom:10px;}

@keyframes animate1 { from{left:0px;}to{left:200px;}}

@keyframes animate2{from {left:0px; } to{left:-100px; }}

ul{ list-style-type: none;color:white;display:block; overflow: hidden; } 

li{transition: transform .2s;}

li  {color: white;padding:14px 16px;text-decoration:none;float:right;}
    
li:hover {color:whitesmoke; transform: scale(1.7);  }  

#mainbox{border-style:solid;width:100%;height:170vh; border-color:#ff9966;margin-left: auto;margin-right: auto;margin-top:90px;}

#subbox{ border-style:solid; border-color:#ff9966 ;padding: 15px;box-shadow: 10px 10px 12px 14px #ff9966;width:80%; height:135vh;margin-left: auto;margin-right: auto;margin-top:80px;}

div .inerbox-1 .innerbox-2 .innerbox-3 { padding: 10px;width: 100%;border-style:none;}
    
div.inner { box-sizing:border-box;width:50%;height:50vh; border: 5px;text-align: center ;float: left;}

img{box-shadow: 10px 10px 12px 14px #ff9966;}  
    
    
    

 
    

