*{ margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

section {position: relative;width: 100%;height:30vh; background: #ff9966; background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);background: linear-gradient(to left, #ff5e62, #ff9966); overflow :hidden;}

section .wave{ position: absolute; height:100px;left:0;bottom:0;width:100%;background-image:url(../../assets/images/wave.png); background-size: 1000px 100px;}

section .wave.wave1{ animation: animate 17s linear infinite;z-index:1000; opacity:0.8;animation-delay:0s; bottom:5px;}

section .wave.wave2{animation: animate2 4s linear infinite;z-index:997;opacity:0.5;animation-delay:0;bottom:10px;}

@keyframes animate1 { from{left:0px;}to{left:200px;}}

@keyframes animate2{from {left:0px; } to{left:-100px; }}

#Banner{width: 50%;padding:12px 2px 9px 7px;position:relative; }

.item{float: right;position: relative;color:saddlebrown;font-family: 'STIX Two Math', serif;font-size:35px;background-color: #805433;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");border-radius:30px;margin:31px 45px 9px 7px;height: 50vh;}

ul{ color:aliceblue}

.middle-section{justify-content: center;display: flex;position: relative;padding: auto;}

.article {justify-content: center;display: grid;position: relative;padding:30px 0px 30px 0px ;}

#content{height:1000px;background-color:rgba(196, 185, 185, 0.726);font-size:36px ;color: black;}

.Note{ background-color: #f78146;justify-content: center;display: flex;position: relative;padding:4px;}
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

.buttons{float:right}

.container {clip: rect(0, auto, auto, 0);
  overflow: hidden;
  position: absolute;
  height: 50vh;
  left: 0;
  width: 100%;
  top: 0;
}

.container_solid .title_wrapper h1 {
  /* the text background */
  background: url(../../assets/images/shop1.jpg);
  
  background-size: 100vw auto;background-position: center;-webkit-text-fill-color: transparent;background-clip: text;-webkit-background-clip: text;color: black;
}

.container {background-image: url(../../assets/images/shop1.jpg);opacity:50%;background-size:100vw auto;background-position: center;background-attachment: fixed;top: 150vh;}

.Parallax {height:50vh;max-width: 800px;}
.Parallax p {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";}