 
 .bind{ background-image:url('../../assets/images/buyermain.png');background-position: center;background-repeat: no-repeat;background-size:cover;height:99vh;}
 
 .space{margin-right:20%;}

 .space2{ margin-right:-20%;}
 #btn {
    width: 160px;
    height: 60px;
    background:rgb(161, 124, 76);
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    float:right;
    margin-top:20%;
    right:0%;
    box-shadow: crimson;
  }
  #btn:before {
    content: ""; position: absolute; left:100%;
    top: 18px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid rgb(161, 124, 76);
    border-bottom: 13px solid transparent;
    box-shadow: crimson;
  } 
  #btn:hover{ opacity:0.9 ;}
 p { text-align:center; font-weight: bold;font-size:20px;}

 p:hover{color:brown ; text-decoration:underline;}
 
